<div style="margin-top: 8rem !important;"></div>
        {{>_msg}}
{{msg_success}}

<h2>Categorias</h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-dark">Nova categoria</button></a>

{{#each categorias}}

    <div class="card mt-4 shadow-sm p-3 mb-2 bg-body-tertiary rounded">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small><strong>Data de criação:</strong> {{date}}</small>
            <hr>
            <a href="/admin/categorias/edit/{{_id}}"><button type="button" class="btn btn-dark">Editar</button></a>
            <a href="/admin/categorias/delete/{{_id}}"><button type="button" class="btn btn-dark">Apagar</button></a>
        </div>
    </div>
    
{{else}}

{{/each}}