{{#each erros}}
    <div class="alert alert-danger" role="alert">{{texto}}</div>
{{else}}

{{/each}}

<h3>Editar categoria</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/edit" method="POST" class="needs-validation">
        <input type="hidden" name="id" value="{{categoria._id}}">
        <label for="nome" class="form-label">Nome: </label>
        <input class="form-control form-control-md" type="text" type="text" id="nome" name="nome" placeholder="Nome da categoria" value="{{categoria.nome}}">
        <label for="slug" class="form-label">Slug: </label>
        <input class="form-control form-control-md" type="text" type="text" id="slug" name="slug" placeholder="Slug da categoria" value="{{categoria.slug}}">
        <button type="submit" class="btn btn-outline-success mt-4">Editar Categoria</button>
        </form>
    </div>
</div>
