<h4 class="mt-4">{{categoria.nome}}</h4>
        {{>_msg}}

{{#each postagens}}

<div class="card mt-4" style="width: 30rem;">
  <img src="https://www.jornalbomdia.com.br/tb_noticias/760/economia-mundial.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title placeholder-glow">{{titulo}}</h5>
    <p class="card-text placeholder-glow">{{descricao}}</p>
    <hr>
    <small>Data de criação: {{date}}</small>
    <hr>
    <a href="/postagem/{{_id}}" class="btn btn-dark">Ver Postagem</a>
  </div>
</div>
<style>
    div img:hover{
        scale: 98% !important;
        transition: all 0.3s !important;
    }
</style>

{{else}}

{{/each}}

<hr>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Anterior">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Próxima">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
