<body>
        <!-- Navigation-->
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Bem-vindo ao BLOG do NodeJs</h1>
                            <span class="subheading">Este é um BLOG simples, desenvolvido com Node.js | Express | MongoDB</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="mt-4"></div>
                {{>_msg}}
        <!-- Main Content-->
        {{#each postagens}}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/postagem/{{_id}}">
                            <h2 class="post-title">{{titulo}}</h2>
                            <h3 class="post-subtitle">{{descricao}}</h3>
                        </a>
                        <p class="post-meta">
                            Postado por {{autorPostUser}}. Data: {{date}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {{else}}

                    {{/each}}
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Postagens mais antigas →</a></div>
                </div>
            </div>
        </div>
 