

<div class="p-4 shadow-4 rounded-3" style="background-color: hsl(0, 0%, 94%);">
  <h2>Bem-vindo ao BLOG do NodeJs</h2>
  <p>
    Este é um BLOG simples, desenvolvido com Node.js | Express | MongoDB
  </p>

  <hr class="my-4" />

  <p>
    Aqui você vai ler as novidades do mundo da computação.
  </p>
  <a href="/usuarios/registro">
  <button type="button" class="btn btn-dark">
    Crie sua conta
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
  </button>
  </a>
</div>

<h4 class="mt-4">Últimas Postagens</h4>

{{#each postagens}}

<div class="card mt-4">
  <img src="https://www.jornalbomdia.com.br/tb_noticias/760/economia-mundial.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title placeholder-glow">{{titulo}}</h5>
    <p class="card-text placeholder-glow">{{descricao}}</p>
    <small>Categoria: {{categoria.nome}}</small>
    <hr>
    <a href="/postagem/{{_id}}" class="btn btn-dark">Ver Postagem</a>
  </div>
</div>
<style>
    div img:hover{
        scale: 98% !important;
        transition: all 0.3s !important;
    }
</style>

{{else}}

{{/each}}

<h4 class="mt-4">Categorias</h4>

{{#each categorias}}

    <div class="card mt-4 shadow-sm p-3 mb-2 bg-body-tertiary rounded">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small><strong>Slug: </strong> {{slug}}</small>
            <br>
            <small><strong>Data de criação:</strong> {{date}}</small>
            <br>
            <a href="/categorias/{{_id}}" class="btn btn-dark mt-4">Ver Categoria</a>
        </div>
    </div>
    
{{else}}

{{/each}}